html
{
    scroll-behavior: smooth;
}
.custom-list {
    list-style-position: inside;
    color: black;
}

footer {
    background: rgb(255, 255, 255);
}
.no-text-decoration {
    text-decoration: none;
}
.image-style {
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

