.socialIcon {
    color: rgba(255, 255, 255, 0.5);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

.makeAppoitmentAnchor {
    scroll-margin-top: 175px;
}

.openingHoursAnchor {
    scroll-margin-top: 175px;
}

.pricesAnchor {
    scroll-margin-top: -20px;
}

.employeesAnchor {
    scroll-margin-top: 185px;
    font-family: Title;
    font-size: 8rem;
    text-shadow: 2px 2px 2px rgb(61, 60, 60);
    text-align: center;
}


@media screen and (max-width:750px) {
    .employeesAnchor {
        font-size: 5rem;
    }
}


@media screen and (max-width:400px) {
    .employeesAnchor {
        font-size: 3rem;
    }
}

.findus {
    scroll-margin-top: 30px;
}

#navbar {
    background-color: rgba(0, 0, 0, 0.671);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: top 0.3s;
    float: right;
}

.nav-link {
    color: white !important;
    font-family: nav-link, sans-serif;
    margin: 0 10px;
}

@font-face {
    font-family: nav-link;
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

#thirdPage {
    background-color: #bab6ae;
    text-align: center;
    margin-bottom: 8vh;
}

@media screen and (max-width:360px) {
    .col-3 {
        font-size: 0.80rem !important;
    }
}

@media screen and (max-width:600px) {
    .me-5 {
        margin-right: 0 !important;
    }

    .nav-link {
        text-align: end !important;
        margin-right: 0;
    }
}


@media screen and (max-width:1360px) {
    .nav-link {
        font-size: 1.5rem !important;
    }
}

@media screen and (max-width:1110px) {
    .nav-link {
        font-size: 1.2rem !important;
    }
}

#secondRow {
    margin-bottom: 8vh;
}

#instagramGrid {
    position: relative;
    left: 25vw;
    width: 50vw;
    height: auto;
}

#postalCodeCheckerHeight {
    height: 150px;
}

#homePage {
    background-image: url('../pictures/mainBackground.webp');
    background-position: center;
    background-size: cover;
    margin-bottom: 8vh;
}

#centerText {
    margin-top: 40vh;
    font-family: Title;
    font-size: 10rem;
    text-shadow: 2px 3px 3px rgb(61, 60, 60);
}


#postalCodeCheck {
    padding-top: 80px;
    background-color: #bab6ae;
    padding-bottom: 80px;
    margin-bottom: 10vh;
}

#pricingContainer {
    margin-bottom: 8vh;
}

@font-face {
    font-family: Title;
    src: url("../fonts/Italianno-Regular.ttf");
}

@media screen and (max-width:800px) {
    #centerText {
        font-size: 7rem !important;
    }
}

@media screen and (max-width:1200px) {
    .col-3 {
        font-size: 1.2rem;

    }

    #instagramGrid {
        position: relative;
        left: 0;
        width: 100vw;
        height: auto;
    }
}

@media screen and (min-width: 1081px) {
    h2 {
        font-size: 3rem;
    }

    h6 {
        font-size: 1.5rem;
    }

    .col-3 {
        font-size: 1.5rem;
    }

    .table {
        font-size: 1.5rem;
    }

    #infoAboutLongHair {
        font-size: 1rem;
    }

    #infoOnPhone {
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    #centerText {
        font-size: 5rem !important;
    }

    h2 {
        font-size: 2rem;
    }

    h6 {
        font-size: 1rem;
    }

    .col-3 {
        font-size: 1rem;
    }

    .table {
        font-size: 1rem;
    }

    #infoAboutLongHair {
        font-size: 0.7rem;
    }

    #infoOnPhone {
        font-size: 0.8rem;
    }
}

.navButtonRight {
    justify-content: center !important;
}

.text-primary {
    color: #000000 !important;
}

.social-icon {
    color: rgba(255, 255, 255, 0.5);
}

.custom-list {
    list-style-position: inside;
    color: black;
}

footer {
    padding-top: 20px;
    background: rgb(255, 255, 255);
}

.imageStyle {
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-toggler {
    color: white !important;
    background-color: rgba(211, 211, 211, 0.688) !important;
}

#infoAboutLongHair {
    font-weight: bold !important;
}

#infoOnPhone {
    display: none;
}

.hasJS {
    display: none;
}

.card-title {
    font-size: 1.2rem !important;
}

.card {
    box-shadow: 0px 3px 8px #888888;
}

#langMenu {
    position: absolute;
    left: 0px;
    margin-top: 0.2%;

}

@media screen and (max-width:992px) {
    .justify-content-center {
        justify-content: end !important;
    }
}

@media screen and (max-width:991px) {
    #langMenu {
        top: 0;
        left: -15px;
    }

    .navButtonRight {
        justify-content: end !important;
    }

    .nav-link {
        text-align: center;
    }

    .col-3 {
        font-size: 1rem;
    }
}

#flagMenu {
    list-style: none;
}

.sale {
    color: red;
    display: none;
}

#flagMenu img {
    width: 2rem;
}

#flagMenu .inActiveMenu {
    display: none;
}

#activeMenu {
    cursor: pointer;
}

.openHours {
    flex-direction: column;
    text-align: end;
    display: flex !important;
    justify-content: space-between !important;
}

input[type=text] {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    margin-right: 2vw;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}

.marginEnd {
    margin-inline-end: 30px;
}

@media screen and (max-width:992px) {
    .marginEnd {
        margin-inline-end: 0px;
    }
}

input[type=submit] {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    background-color: white;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
}

@media screen and (max-width:286px) {
    input[type=submit] {
        margin-top: 7px;
    }

}

.output {
    margin-top: 1vh;
    margin-bottom: 0;
}

#outputAcceptedPostalCode,
#outputNonAcceptedPostalCode,
#outputNotValidPostalCode {
    display: none;
}

#homeButton {
    color: rgba(255, 255, 255, 0.733);
    font-size: 2rem;
    padding-right: 10px;

}

@media screen and (min-width:992px) {
    #homeButton {
        position: absolute;
        right: 0;
    }
}