.text-primary {
    color: #783F8E !important;
    color: #2f6690 !important;
    color: #00509d !important;
}

.social-icon {
    color: #000000;
}

html
{
    scroll-behavior: smooth;
}
.custom-list {
    list-style-position: inside;
    color: black;
}

footer {
    background: rgb(255, 255, 255);
}
.no-text-decoration {
    text-decoration: none;
}
.image-style {
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Modify the background color */
 
.navbar-custom {
    background-color: rgb(253, 231, 120);
}
/* Modify brand and text color */
 
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgb(84, 84, 1);
}


