.text-primary {
    color: #000000 !important;
    color: #000000 !important;
    color: #000000 !important;
}

.custom-bg {
    background-color: rgba(255, 232, 152, 255);
    /* Replace with your desired background color */
}

.social-icon {
    color: rgba(255, 255, 255, 0.5);
}

html {
    scroll-behavior: smooth;
}

.custom-list {
    list-style-position: inside;
    color: black;
}

footer {
    background: rgb(255, 255, 255);
}

.no-text-decoration {
    text-decoration: none;
}

.image-style {
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Modify the background color */

.navbar-custom {
    background-color: rgb(0, 0, 0);
}

/* Modify brand and text color */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgb(255, 16, 16);
}