__pycache__/
Bilder/rorande_bilder/Comp 1.avi
ss
screenshots/
screenshotsnojs/
.vscode
fileGenerator/findLangselectedlang/pot.py
fileGenerator/findLangselectedlang/data.json
fileGenerator/findLangselectedlang/pot.py
fileGenerator/findLangselectedlang/pot.py
fileGenerator/findLangselectedlang/pot.py
