.bigTitle{
    font-size: 7rem;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Italianno;
}

@font-face {
    font-family: Italianno;
    src: url("fonts/Italianno-Regular.ttf");
}

@media screen and (max-width:450px){
    .card-group{
    width: 80% !important;
    }
}

@media screen and (max-width:575px) {
    .card-group{
        width: 60% !important;
    }
    .bigTitle{
        font-size: 3rem;
    }
    .card-text{
        font-size: 0.7rem;
    }
}

@media screen and (max-width:750px) {
    .bigTitle{
        font-size: 4rem;
    }
    .card-group{
        width: 80%;
    }
}

@media screen and (max-width:1000px){
    .card-group{
        width: 70% !important;
    }
}

*{
    transition: 0.2s ease-in-out;
}


.card-group{
    width: 50%  ;
    margin: 0 auto;
    margin-bottom: 9%;
}

.card{
    border-radius: 20px;
    cursor: pointer;
    padding: 20px;
    border: none !important;
}


.card:hover{
    transform: scale(1.04);
}

img{
    width: auto !important;
    height: auto !important;
}


.card-title{
    text-align: center;
    font-size: 1.7rem;
    color: black !important;
    text-decoration:none !important;

}

.card-text{
    text-align: center;
    text-decoration:none !important;
    color: black;
    font-size: 1.2rem;
}

a{
    text-decoration: none !important;
    background-color: transparent !important;
}

