.socialIcon {
    color: rgba(255, 255, 255, 0.5);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

#makeAppoitment,
#boka {
    scroll-margin-top: 100px;
}

#openingHours,
#oppettider {
    scroll-margin-top: 100px;
}

#prices,
#priser {
    scroll-margin-top: -150px;
}

#employees,
#personal {
    scroll-margin-top: 100px;
}

#findus,
#hittaOss {
    scroll-margin-top: 30px;
}

#navbar {
    background-color: rgba(0, 0, 0, 0.671);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1000;
    transition: top 0.3s;
}

.nav-link {
    color: white !important;
    font-family: 'Montserrat', sans-serif;
}

#thirdPage {
    background-color: #bab6ae;
}


@media screen and (max-width:993px) {
    .nav-link {
        text-align: center;
    }

    .col-3 {
        font-size: 1rem;
    }
}

@media screen and (max-width:360px) {
    .col-3 {
        font-size: 0.80rem !important;
    }
}

@media screen and (max-width:600px) {
    .me-5 {
        margin-right: 0 !important;
    }

    .nav-link {
        text-align: end !important;
        margin-right: 0;
    }
}


@media screen and (max-width:1360px) {
    .nav-link {
        font-size: 1.5rem !important;
    }
}

@media screen and (max-width:1110px) {
    .nav-link {
        font-size: 1.2rem !important;
    }
}

#instagramGrid {
    position: relative;
    left: 25vw;
    width: 50vw;
    height: auto;
}

#homePage {
    background-image: url('pictures/Bakgrundstest1.jpg');
    background-position: center;
    background-size: cover;
}

#centerText {
    margin-top: 40vh;
    font-family: Title;
    font-size: 10rem;
    text-shadow: 2px 3px 3px rgb(61, 60, 60);
}

@font-face {
    font-family: Title;
    src: url("fonts/Italianno-Regular.ttf");
}

@media screen and (max-width:800px) {
    #centerText {
        font-size: 7rem !important;
    }
}

@media screen and (max-width:1200px) {
    .col-3 {
        font-size: 1.2rem;

    }

    #instagramGrid {
        position: relative;
        left: 0;
        width: 100vw;
        height: auto;
    }
}

@media screen and (max-width:500px) {
    #centerText {
        font-size: 5rem !important;
    }


}

@media screen and (min-width: 1081px) {
    h2 {
        font-size: 3rem;
    }

    h6 {
        font-size: 1.5rem;
    }

    .col-3 {
        font-size: 1.5rem;
    }

    .table {
        font-size: 1.5rem;
    }

    #infoAboutLongHair {
        font-size: 1rem;
    }

    #regularCustomerInfo {
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    h2 {
        font-size: 2rem;
    }

    h6 {
        font-size: 1rem;
    }

    .col-3 {
        font-size: 1rem;
    }

    .table {
        font-size: 1rem;
    }

    #infoAboutLongHair {
        font-size: 0.7rem;
    }

    #regularCustomerInfo {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 992px) {
    .navButtonLeft {
        justify-content: end !important;
        margin-right: 20px;
    }
}

.text-primary {
    color: #000000 !important;
}

.social-icon {
    color: rgba(255, 255, 255, 0.5);
}

.custom-list {
    list-style-position: inside;
    color: black;
}

footer {
    padding-top: 20px;
    background: rgb(255, 255, 255);
}

.imageStyle {
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-toggler {
    color: white !important;
    background-color: rgba(211, 211, 211, 0.688) !important;
}


#infoAboutLongHair {
    font-weight: bold !important;
}

#regularCustomerInfo {
    font-weight: bold;
}

#regularCustomerInfoOther {
    font-weight: bold;
}

.hasjs {
    display: none;
}

.card-title {
    font-size: 1.2rem !important;
}

.card {
    box-shadow: 0px 3px 8px #888888;
}

#langMenu {
    position: absolute;
    left: 0px;
}

#flagMenu {
    list-style: none;

}

.sale{
    color: red;
    display: none;
}

#flagMenu img {
    width: 2rem;
}

#flagMenu .inActiveMenu {
    display: none;
}

#activeMenu {
    cursor: pointer;
}


#personal {
    text-align: center;
}

.openHours {
    flex-direction: column;
    text-align: end;
    display: flex !important;
    justify-content: space-between !important;
}