.socialIcon {
    color: rgba(255, 255, 255, 0.5);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h2 {
    font-family: 'Cinzel', serif;
}


#navbar {
    background-color: rgba(0, 0, 0, 0.671);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1000;
    transition: top 0.3s;
}

.nav-link {
    color: white !important;
    font-family: 'Cinzel', serif;
}

@media screen and (max-width:991px) {
    .nav-link{
        text-align: center;
    }
}


@media screen and (max-width:1360px) {
    .nav-link{
        font-size: 1.5rem !important;
    }
}

@media screen and (max-width:1110px) {
    .nav-link{
        font-size: 1.2rem !important;
    }
}

#instagramGrid {
    position: relative;
    left: 23vw;
    width: 50vw;
    height: auto;
}

#homePage {
    background-image: url('pictures/Bakgrundstest1.jpg');
    background-position: center;
    background-size: cover;
}

#centerText {
    margin-top: 40vh;
    font-family: 'Italianno', cursive;
    font-size: 10rem;
    text-shadow: 2px 3px 3px rgb(61, 60, 60);
}

@media screen and (max-width:800px) {
    #centerText {
        font-size: 7rem !important;
    }
}

@media screen and (max-width:500px) {
    #centerText {
        font-size: 5rem !important;
    }

}

@media screen and (min-width: 1081px) {
    h2 {
        font-size: 3rem;
    }

    h6 {
        font-size: 1.5rem;
    }

    .col-3 {
        font-size: 1.5rem;
    }

    .table {
        font-size: 1.5rem;
    }

    #infoAboutLongHair {
        font-size: 1rem;
    }
}

@media screen and (max-width: 992px) {
    .navButtonLeft {
        justify-content: end !important;
        margin-right: 20px;
    }
}

.text-primary {
    color: #000000 !important;
}

.social-icon {
    color: rgba(255, 255, 255, 0.5);
}

.custom-list {
    list-style-position: inside;
    color: black;
}

footer {
    background: rgb(255, 255, 255);
}

.noTextDecoration {
    text-decoration: none;
}

.imageStyle {
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-toggler {
    color: white !important;
    background-color: rgba(211, 211, 211, 0.688) !important;
}

.videoOverlay {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0 !important;
}

#infoAboutLongHair {
    font-weight: bold !important;
}

.hasjs {
    display: none;
}

.card-title {
    font-size: 1.2rem !important;
}

#langMenu {
    position: absolute;
    left: 0vw;
}

#flagmenu {
    list-style: none;
}

#flagmenu img {
    width: 5vh;
}


#flagmenu:hover .enMenu {
    transition: 0.3;
    display: block !important;
}


#flagmenu .enMenu {
    display: none;
}
